<div class="content">
  <h1><%= "#{@application.name}'s Application" %></h1>
  <table class="application">
      <thead>
        <th scope="col">Status</th>
        <th scope="col">Address</th>
        <th scope="col">Applying for: </th>
        <th scope="col">I'd be a good home because...</th>
        <th scope="col"></th>
      </thead>  

      <tbody>
          <tr class="row">
            <th scope="row"><%= @application.status %></th>
            <td>
                <%= @application.street_address %><br>
                <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %>
            </td>
            <td class="apply_to_pet">
              <% @application.pets.each do |pet| %>
                <p><%= link_to pet.name, "/pets/#{pet.id}" %></p>
              <% end %>
            </td>
            <td> <%= @application.description %></td>
            <td>
              <p><%= link_to "Edit", "/applications/#{@application.id}/edit" %></p>
            </td>
          </tr>
      </tbody>
    </table>

  <% if @application.status == "In Progress" %>
    <h1> Search for Adoptable Pets </h1>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
      <%= f.label :search %>
      <%= f.text_field :search %>
      <%= f.submit "Search" %>
    <% end %>

    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Breed</th>
          <th scope="col">Adopt?</th>
        </tr>
      </thead>

      <tbody>
        <% @pets.each do |pet| %>
          <tr> 
            <th scope="row"><%= link_to pet.name, "/pets/#{pet.id}" %></th>
            <td><p><%= pet.age %> years old</p></td>
            <td><p><%= pet.breed %></p></td>
            <td>
            <% if @application.status == "In Progress" %>
              <%= form_with url: "/pet_applications", method: :create, local: true do |f| %>
                <%= f.hidden_field :applications_id, :value => @application.id %>
                <%= f.hidden_field :pet_id, :value => pet.id %>
                <%= f.submit "Adopt #{pet.name}" %>
              <% end %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @pets_count > 0%>
      <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true  do |f| %>
        <p><%= f.label :description, "I'd be good home because..." %></p>
        <p><%= f.text_area :description %></p>
          <%= f.hidden_field :status, :value => "Pending" %>
        <p><%= f.submit "Submit My Application" %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
