<div class="content">
  <table class="table">
    <thead>
      <th scope="col">Pet Name</th>
      <th scope="col">Submitted On</th>
      <th scope="col">Status</th>
      <th scoe="col"></th>
    </thead>

    <tbody>
    <% @pet_app.each_with_index do |pet, i| %>
      <% @pets.each do |pet| %>
        <tr class="row">
          <th scope><%= pet.name %></th> 
          <td><%= pet.updated_at %></td>
          <td><%= @pet_app[i].status %></td>
          <td>
            <% if @pet_app[i].status == "Pending" %>
              <%= form_with url: "/pet_applications", method: :patch, local: true do |f| %>
                <%= f.hidden_field :pet_id, :value => pet.id %>
                <%= f.hidden_field :application_id, :value => @application.id %>
                <%= f.hidden_field :status_update, :value => "Accepted" %>
                <%= f.submit "Approve" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
