<div class="content">
  <h1><%= @shelter_details[0].name %></h1>
  <h2><%= @shelter_details[0].city %></h2>
  <h1>Statistics</h1>
  <h2>Average Age of All Pets: <%= @average_age %></h2>
  <h2>Number of Pets Adopted: <%= @adopted_pets %></h2>
  <h2>Number of Adoptable Pets: <%= @adoptable_pets %>
</div>